{% block header %} 
    <div id="header">
      <div id="logo"> 
        <a href="/" title="Home" ><h1 style="font-size:70px;font-weight:900">#SocialBeer</h1></a> 
      </div> <!-- logo --> 
            
      {% block navigation %}
        <div id="navigation"> 
          <ul class="menu"> 
            <li class="current"><a href="/" title="Home">Home</a></li>         
            <li><a href="/about/" title="About Social Beer">About</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url profiles_profile_detail user %}" title="{{ user|capfirst }}'s Profile">{{ user.get_profile|capfirst }}'s Profile</a></li>
              <li><a href="/logout/" title="Logout">Logout</a></li>
            {% endif %}
        </ul> 
      </div> <!-- navigation --> 
    {% endblock navigation %}

  </div> <!-- header -->
  {% endblock header %}
