{% load beersocial %}
{% load markup %}
{% block sidebar %}
    {% comment %}
    <div id="search-3" class="widget widget_search">
        <script type="text/javascript">
            function doClear(theText) {
            if (theText.value == theText.defaultValue) {
                theText.value = ""
                }
            }
        </script> 
    
           <div id="search">
               <form method="get" id="search-form" action="http://www.press75.com/themes/side-blog/">
               <input type="text" name="s" id="s" value="Search" onfocus="doClear(this)" /> 
               <input type="submit" id="search-submit" value="" />
               </form>
        </div> <!-- search -->
    </div>
    <div id="categoryposts-3" class="widget widget_categoryposts">      
        <div class="cat-post-item">
            <a class="comments-link comments-link-side" href="http://www.press75.com/themes/side-blog/this-is-a-sample-post-2/#comments" title="Comments">2</a> 
            
            <h2 class="post-title"><a href="http://www.press75.com/themes/side-blog/this-is-a-sample-post-2/" rel="bookmark" title="This is a Sample Post">This is a Sample Post</a></h2> 
            <p class="post-meta">Posted on July 23, 2010</p> 
            
                        <div class="post-thumbnail-side"> 
                <a class="thumbnail-frame-side" href="http://www.press75.com/themes/side-blog/this-is-a-sample-post-2/" title="This is a Sample Post"><!-- nothing to see here --></a> 
                <a href="http://www.press75.com/themes/side-blog/this-is-a-sample-post-2/" rel="bookmark" title="This is a Sample Post"><img width="75" height="75" src="http://www.press75.com/themes/side-blog/files/2010/07/subway-75x75.jpg" class="attachment-sidebar wp-post-image" alt="Subway" title="subway" /></a> 
            </div>
                        
            <div class="cat-post-content"> 
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec facilisis elit. Ut imperdiet, mi sed laoreet &#8230;</p> 
 
                            </div>
        </div>
            
    </div>
    {% endcomment %}
    {% get_current_theme as theme %} 
    <div id="categoryposts-3" class="widget widget_categoryposts">
        <div class="cat-post-item">
    
        <h2>Current theme:</h3>
            <div class="textwidget">
                <h1 class="post-title">{{ theme.name }}</h1>
                <span>{{ theme.start_date }} - {{ theme.end_date }}</span> 
                <p>{{ theme.description|markdown }}<p>
            </div> 
        </div>
    
        {% get_random oembed.StoredOEmbed 10 as photos %}
        <div class="cat-post-item" > 
            <h1 class="post-title">What are you drinking?</h1><br>
            <div class="post-thumbnail-side">
            <table border="0">
              <tr>
                {% for photo in photos|slice:":2" %}
                  <td style="border: 0px;padding: 4px;"><a class="attachment-sidebar wp-post-image" href='{{ photo.url }}'><img class='thumb' src='{{ photo.thumbnail_url }}' alt='{{ photo.title }}' width="90"/></a></td>        
                {% endfor %}
              </tr>
              <tr>
                {% for photo in photos|slice:"2:4" %}
                  <td style="border: 0px;padding: 4px;"><a class="attachment-sidebar wp-post-image" href='{{ photo.url }}'><img class='thumb' src='{{ photo.thumbnail_url }}' alt='{{ photo.title }}' width="90"/></a></td>        
                {% endfor %}
              </tr>
              <tr>
                {% for photo in photos|slice:"4:6" %}
                  <td style="border: 0px;padding: 4px;"><a class="attachment-sidebar wp-post-image" href='{{ photo.url }}'><img class='thumb' src='{{ photo.thumbnail_url }}' alt='{{ photo.title }}' width="90"/></a></td>        
                {% endfor %}
              </tr>
              <tr>
                {% for photo in photos|slice:"6:8" %}
                  <td style="border: 0px;padding: 4px;"><a class="attachment-sidebar wp-post-image" href='{{ photo.url }}'><img class='thumb' src='{{ photo.thumbnail_url }}' alt='{{ photo.title }}' width="90"/></a></td>        
                {% endfor %}
              </tr>
              <tr>
                {% for photo in photos|slice:"8:10" %}
                  <td style="border: 0px;padding: 4px;"><a class="attachment-sidebar wp-post-image" href='{{ photo.url }}'><img class='thumb' src='{{ photo.thumbnail_url }}' alt='{{ photo.title }}' width="90"/></a></td>        
                {% endfor %}
              </tr>
            </table>
            </div>
        </div>    
    </div>      
{% endblock sidebar %}    